* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0b0b0b;
    color: white;
    min-height: 100vh;
    position: relative;
}

/* ADMIN LOGIN */
.admin-login {
    position: absolute;
    top: 20px;
    right: 30px;
    color: red;
    font-size: 13px;
    text-decoration: none;
}

/* MAIN CONTAINER */
.container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

/* LOGO */
.logo img {
    width: 300px;
    margin-bottom: 20px;
}

/* DESCRIPTION */
.description {
    max-width: 600px;
    margin: auto;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 30px;
}

/* BUTTONS */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.buttons button {
    background: red;
    border: none;
    color: white;
    padding: 12px 35px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background: darkred;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 220px;
    height: 120px;
    background: #111;
    border-radius: 8px;
    border: 1px solid #222;
}
